LINE_CHANNEL_SECRET=
LINE_CHANNEL_ACCESS_TOKEN=
GEMINI_API_KEY=

# Required by @vercel/kv
KV_REST_API_URL=
KV_REST_API_TOKEN=

# Usually added by Vercel/Upstash integrations, but not used by @vercel/kv directly.
KV_REST_API_READ_ONLY_TOKEN=
KV_URL=
REDIS_URL=
